#box1 {
  width: 200px;
  height: 200px;
  background-color: hsl(187, 100%, 50%);
  position: sticky;
  top: 0px;
}

#box2 {
  width: 100px;
  height: 100px;
  background-color: hsl(7, 100%, 50%);
  position: absolute;
  top: 50px;
  left: 50px;
}